{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="cover-container">
	<div class="cover">
		<div style="display: table; height: 100%;">
			<div style="display: table-cell; vertical-align: middle;">
				<h1 class="cover-heading">The biggest best quality MIDI files database specifically suitable for Synthesia use</h1>
				<p class="lead"><a href="http://synthesiagame.com/">Synthesia</a> is a wonderfull software allowing to anyone to learn and practice piano easily.</p>
				<br />
				<p class="lead">
				    <a href="#" class="btn btn-lg btn-primary">Search a music</a>
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}