.header-logo {
    float: left;
    margin-right: 10px;
}

.gravatar-round {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.dropdown-user-menu {
	left: auto !important;
	right: 0;
}

.error {
	color: red;
}

.social-media-sign-in-buttons {
	width: 50%;
    margin: auto;
    margin-top: 20px;
    max-width: 500px;
    min-width: 200px;
}

.center {
	text-align: center;
	display: block;
}

.md-header {
	position: relative !important;
	margin-bottom: 25px;
	width: 100% !important;
}

.md-header-brand {
    float: left;
}

.md-header-nav {
	float: right;
}

.md-content input:not([type=button]):not([type=submit]) {
	width: 80%;
	margin: auto;
    max-width: 500px;
}

.md-footer {
	position: relative !important;
	width: 100% !important;
}

@media (min-width: 768px) {
	.sm-wrapper-inner {
		width: 100%;
	}
}

@media (min-width: 992px) {
	.sm-wrapper-inner {
		margin-left: auto;
		margin-right: auto; 
	}
}

.pm-form {
	width: 80%;
	margin: auto;
}

.pm-form input, .pm-form select {
	margin-top: 10px;
	margin-bottom: 10px;
}

.alert-error {
	background-color: #8E2828;
}

.alert-notice {
	background-color: #065A00;
}

.alert-success {
	background-color: #065A00;
}

.md-form-error {
	color: red;
}

.md-form-error ul {
	list-style: none;
    padding: 0px;
}

/* Responsive Youtube video integration */

.video-wrapper {
	width: 60%;
	margin: auto;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}