{% extends 'base.html.twig' %}

{% block title%}Add a new famous by{% endblock %}

{% block content %}
    <h1>Add a new famous by</h1>
    {{ form_start(form, { 'attr': {'class': 'pm-form'} }) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
{% endblock %}